<form action="/movies/detalle/<%= pelicula.id>" method="post">
    <div>
        <label for="">Título</label>
        <input type="text" name="title" value="<%= pelicula.title %> ">
    </div>
    <div>
        <label for="">Rating</label>
        <input type="number" name="rating" value="<%= pelicula.rating %>">
    </div>
    <div>
        <label for="">Premios</label>
        <input type="number" name="awards" value="<%= pelicula.awards %>">
    </div>
    <div>
        <label for="">Fecha de estreno</label>
        <input type="date" name="release_date" value="<%= pelicula.release_date %> ">
    </div>
    <div>
        <label for="">Duración</label>
        <input type="number" name="length" value="<%= pelicula.length %>">
    </div>
    <div>
        <label for="">Genero</label>
        <input type="text" name="genre">
    </div>
    <button type="submit">Guardar Cambios</button>
</form>